name: Build kapitan

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Kapitan version'
        required: true
        default: '0.34.7'
      python-version:
        description: 'Python version'
        required: true
        default: '3.11'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
      - run: pip install pex
      - run: pex kapitan==${{ inputs.version }} --python=python -m kapitan -o kapitan-${{ inputs.version }}-py${{ inputs.python-version }}.pex
      - uses: actions/upload-artifact@v4
        with:
          name: kapitan-${{ inputs.version }}-py${{ inputs.python-version }}.pex
          path: ./kapitan-${{ inputs.version }}-py${{ inputs.python-version }}.pex
